<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="app.component.css">
<title>My Online Portfolio</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.img1 { background-image: url("Retro.jpg"); }

footer {
 position: relative;
 bottom: 0;
 width: 100%;
}

</style>
<body>
  
<div class="banner-image">
  <div class="banner-text">
    <h1 style="font-size:40px">My Online Portfolio</h1>
    <p1>Welcome</p1>
  </div>
</div>
    
<div id="nav">
    <div id="nav_wrapper">
        <ul>
            <li><a href="index.html">Home</a>
            </li>
            <li> <a href="">Activities</a>

                <ul>
                    <li><a href="Resume.html">Activity 1</a>
                    </li>
                    <li><a href="Black Goose.html">Activity 2</a>
                    </li>
                    <li><a href="Beef Caldereta.html">Activity 3</a>
                    </li>
                    <li><a href="Song-Lyrics.html">Activity 4</a>
                    </li>
                    <li><a href="Coffee Shop.html">Activity 5</a>
                    </li>
                    <li><a href="Presidents of the Philippines Album.html">Activity 6</a>
                    </li>
                    <li><a href="Bio Data Form.html">Activity 7</a>
                    </li>
                    
                </ul>
            </li>
            <li> <a href="Articles.html">Articles</a>
            </li>
            <li> <a href="Contact Us.html">Contact Us</a>
            </li>
        </ul>
    </div>
    
</div>

<div class="bg-image img1"></div>


<footer>
  <p>&copy;2021 Mark Jordanniele G. Magalona<br>
  <a href="mailto:magalonajordan62@gmail.com">magalonajordan62@gmail.com</a></p>
</footer>

  
</body>
</html>
